{#{% extends 'base.html' %}#}
{#{% block extra_js %}#}
{#    {% endblock %}#}
{##}
{##}
{#{% block content %}#}
{#{{ title }}#}
{#<!DOCTYPE HTML>#}
{#<html>#}
{#<head>#}
{#<script>#}
{#window.onload = function () {#}
{##}
{#var dps = []; // dataPoints#}
{#var chart = new CanvasJS.Chart("chartContainer", {#}
{#	title :{#}
{#		text: "{{ title }}"#}
{#	},#}
{#	axisY: {#}
{#		includeZero: false#}
{#	},#}
{#	data: [{#}
{#		type: "line",#}
{#		dataPoints: dps#}
{#	}]#}
{#});#}
{##}
{#var xVal = 0;#}
{#var yVal = 100;#}
{#var updateInterval = 5000; // 1000 to 1s#}
{#var dataLength = 20; // number of dataPoints visible at any point#}
{##}
{#var updateChart = function (count) {#}
{##}
{#	count = count || 1;#}
{##}
{#	for (var j = 0; j < count; j++) {#}
{#		yVal = yVal +  Math.round(5 + Math.random() *(-5-5));#}
{#		dps.push({#}
{#			x: xVal,#}
{#			y: yVal#}
{#		});#}
{#		xVal = xVal + 5;#}
{#	}#}
{##}
{#	if (dps.length > dataLength) {#}
{#		dps.shift();#}
{#	}#}
{##}
{#	chart.render();#}
{#};#}
{##}
{#updateChart(dataLength);#}
{#setInterval(function(){updateChart()}, updateInterval);#}
{##}
{#}#}
{#</script>#}
{#</head>#}
{#<body>#}
{#<div id="chartContainer" style="height: 670px; width:100%;"></div>#}
{#<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% block extra_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                var d = new Date();
                if (d.getMinutes() % 3 == 0 && d.getSeconds() > 0 && d.getSeconds() <= 3) {
                    location.reload();
                }
            }, 1000);

        });
    </script>
{% endblock %}
{% block content %}
    {{ chart.as_html }}
    <center>
        <font size="3">
            <table style="width:20%">
                <tr>
                    <th>Algorytm</th>
                    <th>MAE</th>
                    <th>RMSE</th>
                </tr>
                <tr>
                    <td>Algorytm dla 10</td>
                    <td> {{ MAE_10 }} hPa</td>
                    <td>{{ RMSE_10 }} hPa</td>
                </tr>
                <tr>
                    <td>Algorytm dla 50</td>
                    <td>{{ MAE_50 }} hPa</td>
                    <td>{{ RMSE_50 }} hPa</td>
                </tr>
            </table>
        </font>
        <br>MAE - średni błąd bezwzględny
        <br>RMSE - pierwiastek błędu średniokwadratowego
    </center>
{% endblock %}