{% extends 'base.html' %}
{% block extra_js %}

{% endblock %}
{% block content %}
{#    <table style="width:100%">#}
{#        <tr>#}
{#            <th>ID</th>#}
{#            <th>Data Odczytu</th>#}
{#            <th>Temperatura</th>#}
{#            <th>Wilgotność</th>#}
{#            <th>Cisnienie</th>#}
{#        </tr>#}
{#        {% for o in odczyty %}#}
{#            <tr>#}
{#                <td> {{ o.id }}</td>#}
{#                <td>{{ o.data_odczytu|date:'Y-m-d H:i:s' }}</td>#}
{#                <td>{{ o.temperatura }}</td>#}
{#                <td>{{ o.wilgotnosc }}</td>#}
{#                <td>{{ o.cisnienie }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}

{% endblock %}
