{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#<!DOCTYPE HTML>#}
{#<html>#}
{#<head>#}
{#{{ data.0.0 }}#}
{#    {{ data }}#}
{#<script>#}
{##}
{#window.onload = function () {#}
{##}
{#var chart = new CanvasJS.Chart("chartContainer", {#}
{#	theme:"light2",#}
{#	animationEnabled: true,#}
{#	title:{#}
{#		text: "{{ title }}"#}
{#	},#}
{#	axisY :{#}
{#		includeZero: false,#}
{#		title: "Wilgotność w %",#}
{#		suffix: "%"#}
{#	},#}
{#	toolTip: {#}
{#		shared: "true"#}
{#	},#}
{#	legend:{#}
{#		cursor:"pointer",#}
{#		itemclick : toggleDataSeries#}
{#	},#}
{#	data: [#}
{#	{#}
{#		type: "spline",#}
{#		showInLegend: true,#}
{#		yValueFormatString: "##.00mn",#}
{#		name: "Odczyt z czujników",#}
{#		dataPoints: [#}
{#			{ label: "{{ data.0.1 }}", y: {{ data.0.0 }} },#}
{#			{ label: "Ep. 2", y: 6.31 },#}
{#			{ label: "Ep. 3", y: 6.59 },#}
{#			{ label: "Ep. 4", y: 6.95 },#}
{#			{ label: "Ep. 5", y: 7.16 },#}
{#			{ label: "Ep. 6", y: 6.40 },#}
{#			{ label: "Ep. 7", y: 7.20 },#}
{#			{ label: "Ep. 8", y: 7.17 },#}
{#			{ label: "Ep. 9", y: 6.95 },#}
{#			{ label: "Ep. 10", y: 7.09 },#}
{#            { label: "Ep. 1", y: 16.64 },#}
{#			{ label: "Ep. 2", y: 17.31 },#}
{#			{ label: "Ep. 3", y: 18.59 },#}
{#			{ label: "Ep. 4", y: 18.95 },#}
{#			{ label: "Ep. 5", y: 19.16 },#}
{#			{ label: "Ep. 6", y: 19.40 },#}
{#			{ label: "Ep. 7", y: 20.20 },#}
{#			{ label: "Ep. 8", y: 21.17 },#}
{#			{ label: "Ep. 9", y: 21.95 },#}
{#			{ label: "Ep. 10", y: 22.09 }#}
{#		]#}
{#	},#}
{#	{#}
{#		type: "spline",#}
{#		showInLegend: true,#}
{#		yValueFormatString: "##.00mn",#}
{#		name: "Algorytm Analizy Szeregów Czasowych",#}
{#		dataPoints: [#}
{#			{ label: "{{ data.0.1 }}", y: "{{ data.0.0 }}" },#}
{#			{ label: "Ep. 2", y: 6.81 },#}
{#			{ label: "Ep. 3", y: 6.71 },#}
{#			{ label: "Ep. 4", y: 6.82 },#}
{#			{ label: "Ep. 5", y: 6.56 },#}
{#			{ label: "Ep. 6", y: 6.24 },#}
{#			{ label: "Ep. 7", y: 5.40 },#}
{#			{ label: "Ep. 8", y: 7.01 },#}
{#			{ label: "Ep. 9", y: 7.14 },#}
{#			{ label: "Ep. 10", y: 8.11 },#}
{#            { label: "Ep. 1", y: 9 },#}
{#			{ label: "Ep. 2", y: 10.81 },#}
{#			{ label: "Ep. 3", y: 11.71 },#}
{#			{ label: "Ep. 4", y: 12.82 },#}
{#			{ label: "Ep. 5", y: 13.56 },#}
{#			{ label: "Ep. 6", y: 14.24 },#}
{#			{ label: "Ep. 7", y: 15.40 },#}
{#			{ label: "Ep. 8", y: 16.01 },#}
{#			{ label: "Ep. 9", y: 17.14 }#}
{#		]#}
{#	}]#}
{#});#}
{#chart.render();#}
{##}
{#function toggleDataSeries(e) {#}
{#	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){#}
{#		e.dataSeries.visible = false;#}
{#	} else {#}
{#		e.dataSeries.visible = true;#}
{#	}#}
{#	chart.render();#}
{#}#}
{##}
{#}#}
{#</script>#}
{#</head>#}
{#<body>#}
{#<div id="chartContainer" style="height: 670px; width: 100%;"></div>#}
{#<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}



{% extends 'base.html' %}
{% block extra_js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock %}
{% block content %}
    {{ title }}
    {{ chart.as_html }}
{% endblock %}